.home-container {
    /* background-image: url("https://images.pexels.com/photos/1655901/pexels-photo-1655901.jpeg?auto=compress&cs=tinysrgb&w=1600"); */
    background-image: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.6)), url("https://images.pexels.com/photos/3113617/pexels-photo-3113617.jpeg?auto=compress&cs=tinysrgb&w=1600");
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.home-page {
    height: 100%;
    text-align: center;
    color: black;
}

.main-title-text {
    padding-top: 3rem;
    font-size: 5rem;   
    padding-bottom: 1rem; 
}

.agatha-books {
    padding-top: 5rem;
}

.agatha-info {
    text-align: center;
    font-size: 1rem;
    font-weight: bold
}

.start-btn {
    margin-top: 3rem;
    background-color: #212529 !important;
}